Repository David06A/WhichStack, pull requests merged in 2023-03, with the labels that each got.

#11 Functioning base of the API
  Back-End/API/api.py
  Back-End/API/database.py
  Back-End/API/handler.py
  Back-End/API/routes/stack.py
  Back-End/requirements.txt
Labels: back-end

#9 Feature/home page
  Front-End/index.html
  Front-End/src/App.css
  Front-End/src/App.tsx
  Front-End/src/assets/PopularStacks.tsx
  Front-End/src/components/ThemeToggleButton.tsx
  Front-End/src/index.css
  Front-End/src/main.tsx
  Front-End/src/pages/home-page/HomePage.css
  Front-End/src/pages/home-page/HomePage.tsx
Labels: front-end

#13 Feature: Question Page
  Front-End/src/App.css
  Front-End/src/App.tsx
  Front-End/src/assets/TechStackQuestions.tsx
  Front-End/src/pages/home-page/HomePage.css
  Front-End/src/pages/home-page/HomePage.tsx
  Front-End/src/pages/questions-page/QuestionPage.css
  Front-End/src/pages/questions-page/QuestionPage.tsx
Labels: feature, front-end
